body {
    font-family: "Lato", sans-serif;
}
/*DISTINCT_FILM_PAGE*/

.film-body img {
    height: 600px;
}


.left-half .movie-title {
    margin-top: 0px;
    font-size: 35px;
    font-weight: 900;
}

.film-body .right-half .about-line {
    margin-top: 20px;
    font-size: 35px;
    font-weight: 900;
}
.film-body .right-half h4 span {
    margin-top: 0px;
    font-size: 17px;
    font-weight: 400;
    color: rgba(10, 10, 10, 0.36);
}
.film-body .right-half h4 {
    font-size: 19px;
    font-weight: 400;
    margin-top: 0px;
    margin-bottom: 10px;
}

.bottom-block h2 {
    margin-top: 0px;
    font-size: 35px;
    font-weight: 200;
}

.bottom-block .day-item {
    background-color: transparent;
    transition: 0.15s;
    margin-right: 5px;
}

.bottom-block .day-item a {
    text-decoration: none;
    color: black;
}

.bottom-block .seances-headline {
    margin-top: 0px;
    font-size: 35px;
    font-weight: 900;
}

.bottom-block .day-item button {
    transition: 0.15s;
    color: #414141;
}
.bottom-block .day-item {
    background-color: #f5f5f5;
    padding: 20px;
    margin-top: 10px;
    font-size: 16px;
    color: #414141;
}
.bottom-block .day-item h5 {
    margin-top: 10px;
    font-size: 19px;
}

.right-half a {
    text-decoration: none;
    color: black;
}
.right-half a:hover {
    color: black;
    transition: 0.75s;
    background-color: green;
}

.right-half button {
    background-color: #f5f5f5;
    margin-top: 10px;
    margin-bottom: 20px;
    padding-top: 15px;
    padding-bottom: 5px;
    padding-left:20px;
    padding-right:20px;
    border: none;
    transition: 0.15s;
}

.right-half button:hover {
    transform: scale(1.04);
}