.seance-item {
    background-color: #f5f5f5;
    font-size: 16px;
    padding: 0px;
    color: #414141;
    margin-top: 40px;
}

.seance-item .left-side {
    padding: 0;
}

.seance-page-title {
    color: black;
    margin-left: -15px;
}
.seance-item .right-side a {
    text-decoration: none;
    color: black;
}

.seance-item .right-side h3 {
    margin-top: 10px;
    font-size: 28px;
    font-weight: 600;
}

.seance-item .right-side h5 span{
    color: rgba(10, 10, 10, 0.36);
}
.seance-item .right-side h5 {
    font-size: 18px;
}

.seance-item .action-button {
    margin-right: 5px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 7px;
    padding-bottom: 7px;
    border: none;
    border-radius: 2px;
    background-color: black;
    color: white;
    transition: 0.15s;
}
.seance-item .action-button:hover {
    transform: scale(1.04);
}
.seance-item .add-seance h3{
    margin-top: 95px;
}


